$main-bg: #fff;
$main-cl: #6b2800;

$txt-main-cl: #333;
$txt-second-cl: #dd9f05;

$box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

$cl-icon-face: #3b5998;
$cl-icon-link: #0a66c2;
$cl-icon-ytb: #ff0000;
$cl-icon-tw: #1d9bf0;
$cl-icon-be: #0057ff;

$sp-w: 768px;
$tbl-w: 1024px;
