.c-btn01 {
    min-width: 300px;
    background: #6b2800;
    color: #fff;
    display: inline-block;
    font-size: 2.4rem;
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding: 7px 20px 4px 20px;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
    @include sp(768px) {
        padding: 5px 20px 4px 20px;
        font-size: 1.8rem;
        min-width: 280px;
    }
    &::after {
        content: ">";
        font-family: "Lato", sans-serif;
        position: absolute;
        right: 20px;
        top: calc(50% - 2px);
        transform: translateY(-50%);
        transition: 0.5s;
    }
    &:hover {
        opacity: 0.8;
        &::after {
            right: 15px;
        }
    }
}

.c-btncart {
    display: block;
    min-width: 160px;
    border: none;
    background: rgba(206, 105, 47, 0.8);
    color: #fff;
    font-size: 1.6rem;
    font-family: "Dancing Script", cursive;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
    svg {
        margin-right: 5px;
    }
    &::before {
        content: "";
        background: rgba(206, 105, 47, 0.4);
        transition: 0.5s;
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    &::after {
        content: "";
        background: rgba(206, 105, 47, 0.4);
        transition: 0.5s;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    &:hover {
        &::before {
            left: -50%;
        }
        &::after {
            right: -50%;
        }
    }
}
